<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :student_first %>
    <%= form.text_field :student_first, id: :student_student_first %>
  </div>

  <div class="field">
    <%= form.label :student_last %>
    <%= form.text_field :student_last, id: :student_student_last %>
  </div>

  <div class="field">
    <%= form.label :teacher %>
    <% teachers_array = Teacher.all.order(:last).map { |teacher| ["#{teacher.title} #{teacher.last}", "#{teacher.title} #{teacher.last}"] } %>
    <%= form.select(:teacher, options_for_select(teachers_array, student.teacher)) %>
  </div>

  <div class="field">
    <%= form.label :grade %>
    <% grades_array = Grade.all.map { |grade| ["#{grade}", "#{grade}"] } %>
    <%= form.select(:grade, options_for_select(grades_array, student.grade)) %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :student_address %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :student_city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :student_state %>
  </div>

  <div class="field">
    <%= form.label :zip %>
    <%= form.text_field :zip, id: :student_zip %>
  </div>

  <div class="field">
    <%= form.label :mother_first %>
    <%= form.text_field :mother_first, id: :student_mother_first %>
  </div>

  <div class="field">
    <%= form.label :mother_last %>
    <%= form.text_field :mother_last, id: :student_mother_last %>
  </div>

  <div class="field">
    <%= form.label :mother_email %>
    <%= form.text_field :mother_email, id: :student_mother_email %>
  </div>

  <div class="field">
    <%= form.label :mother_phone_number %>
    <%= form.text_field :mother_phone_number, id: :student_mother_phone_number %>
  </div>

  <div class="field">
    <%= form.label :mother_phone_type %>
    <% phone_types_array = PhoneType.all.map { |phone_type| ["#{phone_type}", "#{phone_type}"] } %>
    <%= form.select(:mother_phone_type, options_for_select(phone_types_array, student.mother_phone_type)) %>
  </div>

  <div class="field">
    <%= form.label :father_first %>
    <%= form.text_field :father_first, id: :student_father_first %>
  </div>

  <div class="field">
    <%= form.label :father_last %>
    <%= form.text_field :father_last, id: :student_father_last %>
  </div>

  <div class="field">
    <%= form.label :father_email %>
    <%= form.text_field :father_email, id: :student_father_email %>
  </div>

  <div class="field">
    <%= form.label :father_phone_number %>
    <%= form.text_field :father_phone_number, id: :student_father_phone_number %>
  </div>

  <div class="field">
    <%= form.label :father_phone_type %>
    <%= form.select(:father_phone_type, options_for_select(phone_types_array, student.father_phone_type)) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
