<p id="notice"><%= notice %></p>

<h1>Student Directory</h1>

<%= form_tag(students_path, method: :get) do %>
  <%= label_tag :name %>
  <%= text_field_tag :name, params[:name] %>
  <% homeroom_array = Homeroom.all.order(:name).map { |homeroom| ["#{homeroom.name}", "#{homeroom.name}"] } %>
  <%= label_tag :homeroom %>
  <%= select_tag :homeroom, options_for_select(homeroom_array, params[:homeroom]), :include_blank => true %>
  <% grades_array = Grade.all.map { |grade| [grade.values.first, grade.keys.first] } %>
  <%= label_tag :grade %>
  <%= select_tag :grade, options_for_select(grades_array, params[:grade]), :include_blank => true %>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<p>Showing <%= @students.count %> students. </p>

<table class="table table-responsive table-striped table-bordered table-hover">
  <thead class="thead-default">
    <tr>
      <% if current_user.admin? %>
      <th colspan="2">&nbsp;</th>
      <% end %>
      <th>Name</th>
      <th>Homeroom</th>
      <th>Grade</th>
      <th>Address</th>
      <th>Parent/Guardian 1</th>
      <th>Parent/Guardian 2</th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <% if current_user.admin? %>
        <td><%= link_to '', edit_student_path(student), class: 'fa fa-pencil fa-lg' %></td>
        <td><%= link_to '', student, method: :delete, data: { confirm: 'Are you sure?' }, class: "fa fa-trash-o fa-lg" %></td>
        <% end %>
        <td><%= student.last %>, <%= student.first %></td>
        <td><%= student.homeroom.name %></td>
        <td><%= display_grade(student) %></td>
        <td style="word-break: break-all;">
          <%= display_address(student) %>
        </td>
        <td>
          <%= display_parent_guardian(student, 1) %>
        </td>
        <td>
          <%= display_parent_guardian(student, 2) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.admin? %>
<%= link_to new_student_path, class: "btn btn-default" do %>
  <i class="fa fa-plus fa-lg"></i>&nbsp;New Student
<% end %>
<% end %>
