<p id="notice"><%= notice %></p>

<h1>Students</h1>

<table class="table table-responsive table-striped table-bordered table-hover">
  <thead class="thead-default">
    <tr>
      <th>Last</th>
      <th>First</th>
      <th>Teacher</th>
      <th>Grade</th>
      <th>Address</th>
      <th>Mother</th>
      <th>Father</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.student_last %></td>
        <td><%= student.student_first %></td>
        <td><%= student.teacher %></td>
        <td><%= student.grade %></td>
        <td>
          <%= student.address %><br />
          <%= student.city %>, <%= student.state %> <%= student.zip %>
        </td>
        <td>
          <%= student.mother_first %> <%= student.mother_last %><br />
          E-mail: <%= student.mother_email %><br />
          <%= student.mother_phone_type %>: <%= student.formatted_mother_phone_number %>
        </td>
        <td>
          <%= student.father_first %> <%= student.father_last %><br />
          E-mail: <%= student.father_email %><br />
          <%= student.father_phone_type %>: <%= student.formatted_father_phone_number %>
        </td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
