<p id="notice"><%= notice %></p>

<p>
  <strong>Student first:</strong>
  <%= @student.student_first %>
</p>

<p>
  <strong>Student last:</strong>
  <%= @student.student_last %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @student.teacher %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @student.grade %>
</p>

<p>
  <strong>Address:</strong>
  <%= @student.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @student.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @student.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @student.zip %>
</p>

<p>
  <strong>Mother first:</strong>
  <%= @student.mother_first %>
</p>

<p>
  <strong>Mother last:</strong>
  <%= @student.mother_last %>
</p>

<p>
  <strong>Mother email:</strong>
  <%= @student.mother_email %>
</p>

<p>
  <strong>Mother phone number:</strong>
  <%= @student.formatted_mother_phone_number %>
</p>

<p>
  <strong>Mother phone type:</strong>
  <%= @student.mother_phone_type %>
</p>

<p>
  <strong>Father first:</strong>
  <%= @student.father_first %>
</p>

<p>
  <strong>Father last:</strong>
  <%= @student.father_last %>
</p>

<p>
  <strong>Father email:</strong>
  <%= @student.father_email %>
</p>

<p>
  <strong>Father phone number:</strong>
  <%= @student.formatted_father_phone_number %>
</p>

<p>
  <strong>Father phone type:</strong>
  <%= @student.father_phone_type %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
