<h2>Request an account</h2>

<p>
  Please enter your information below. We will confirm your authorization
  and contact you at the e-mail address you provide.
</p>

<%= form_for(@proto_user, url: {action: "create"} ) do |f| %>

  <div class="field">
    <%= f.label "e-mail" %><br />
    <%= f.text_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :student %><br />
    <%= f.text_field :student %>
  </div>

  <div class="field">
    <%= f.label :teacher %><br />
    <%= f.text_field :teacher %>
  </div>

  <div class="field">
    <%= f.label :grade %><br />
    <%= f.text_field :grade %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>

  <div class="actions">
    <%= f.submit "Submit Request" %>
  </div>
<% end %>

