<h2>Thank you for requesting an account</h2>

<p>
  We will review your request and confirm your authorization. We will contact
  you at your e-mail address below.
</p>

<p>
  <strong>E-mail:</strong>
  <%= @proto_user.email %>
</p>

<p>
  <strong>Student:</strong>
  <%= @proto_user.student %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @proto_user.teacher %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @proto_user.grade %>
</p>

<p>
  <strong>Address:</strong>
  <%= @proto_user.address %>
</p>

<%= @proto_user.id %>
